.profile {
  margin-left: 380px;
  margin-top: 180px;
  width: 100%;
  display: grid;
  grid-template-columns: 320px max-content;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'nav content'
                       'caption content';
  column-gap: 60px;                     

  &__nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 36px;
    grid-area: nav;
    padding-bottom: 80px;
  }

  &__link {
    text-decoration: none;
    color: #8585AD;

    &_active {
      color: #F2F2F3;
    }

    &:hover {
      color: #F2F2F3;
      opacity: 0.9;
    }
  }

  &__caption {
    opacity: 0.4;
    grid-area: caption;
  }
}