.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 56px 40px;

    &_fullPage {
        margin: 135px 0;
    }
}

.title {
    width: 100%;

    &_fullPage {
        width: auto;
    }
}

.image {
    min-height: 240px;
}

.nutritionInfo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }
}