.burgerConstructor {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0;
    gap: 16px;
    list-style: none;
    box-sizing: border-box;

    &__list {
        display: flex;
        flex-direction: column;
        margin: 0;
        gap: 16px;
        list-style: none;
        max-height: 464px;
        overflow-y: scroll;
        overscroll-behavior: contain;
        width: 100%;
s
        &::-webkit-scrollbar {
            width: 8px;
        }
    
        &::-webkit-scrollbar-track {
            background: #2F2F37;
            height: 464px;
        }
    
        &::-webkit-scrollbar-thumb {
            background-color: #8585AD;
            height: 292px;
        }
    }

    &__totalPrice {
        display: flex;
        align-items: center;
    }

    &__buttonContainer {
        display: flex;
    }
}

.dropHover {
    box-shadow: 0 0 30px 1px #4C4CFF
}

.dropActive {
    box-shadow: 0 0 10px 1px #4C4CFF
}