.burgerConstructor {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 80px;
    padding: 20px 0;
    height: calc(100vh - 234px);

    &__container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        gap: 16px;
        padding: 0;
        width: 100%
    }

    &__list {
        display: flex;
        flex-direction: column;
        margin: 0;
        gap: 16px;
        list-style: none;
        max-height: calc(100vh - 536px);
        overflow-y: scroll;
        overscroll-behavior: contain;
        width: 100%;
s
        &::-webkit-scrollbar {
            width: 8px;
        }
    
        &::-webkit-scrollbar-track {
            background: #2F2F37;
            height: calc(100vh - 536px);
        }
    
        &::-webkit-scrollbar-thumb {
            background-color: #8585AD;
            height: calc(100vh - 708px);
        }
    }

    &__totalPrice {
        display: flex;
        align-items: center;
    }

    &__buttonContainer {
        display: flex;
    }
}

.dropHover {
    box-shadow: 0px 0px 16px 8px rgba(51, 51, 255, 0.25), 0px 0px 16px 8px rgba(51, 51, 255, 0.25);
}

.dropActive {
    box-shadow: 0px 0px 8px 4px rgba(51, 51, 255, 0.25), 0px 0px 8px 4px rgba(51, 51, 255, 0.25);
}